html{font-size:100%;}

body{
	margin: 0;
	padding: 0;
	font-family: 'League Spartan', sans-serif;
	line-height: 1.2;
}

header, section, footer {
	width: 100%;
	margin: auto;
}

.padding{padding:50px 5%;}
	
#header {
height: 126px;
background-color: orangered;
}
	#img_logo {
		height: 100px;
		float: left;
		background-color: rgba(225, 0, 0, 1.0);
	}

#nosotros{background: darkseagreen;}	
	#fotos_entrada{}
		.sty_img_box{
			width: 300px;
			height: 300px;
			margin: 25px auto;
		}
			.img_pres{}
				#img1{
					background:darkseagreen;
					background-image: url(imgs/foto1_s.jpg);
				}
				#img2{
					background:darkseagreen;
					background-image: url(imgs/foto2_s.jpg)
				}
			#txt_present{
				background-color:darkseagreen;
				padding:10%;
				margin-bottom:0px;
			}

#servicios{background:greenyellow;}
	#deps{margin: 20px auto;}
	#cochs{margin: 0px auto 20px;}
	#local{margin: 20px auto;}
		.img_servicios{
	    background-color: dimgrey;
	    height:240px;
		}
			#img_deps{background-image: url(imgs/depto-s.jpg);}
			#img_cochs{background-image: url(imgs/cochera-s.jpg);}
			#img_local{background-image: url(imgs/local-s.jpg);}

#ubicacion{
	background:palevioletred;
	padding: 50px 20px;
}
	.divs_ubicacion{
		width:96%;
		margin: 20px auto;
	}
	#mapa{}
	#distancias{}

#pie{
	background:orange;

}



@media all and (min-width: 800px) {

	header, section, footer {width: 96%;}
	
}
